.header {
  background-color: #333;
  border-bottom: 2px solid #404040;
}

.header .title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  height: 0.95em;
}

.header .logo {
  opacity: 0.7;
  height: 14px;
}

.letter p {
  font-size: 18px;
  font-family: serif;
  line-height: 26px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 24px;
}

.letter .email {
  letter-spacing: -0.2px;
  color: #fff;
}

.main {
  flex-grow: 1;
}
